$text-color-primary: black;
$main-color: #7bb441;
$border-color:  #e6e6e6;
$background-card: white;
$secondary-color: #dc3b7f;

$status-bg-new: #eaffe0;
$status-text-new: #65ac22;
$status-bg-assign: #ffeeee;
$status-text-assign: #707070;

.support-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  &-left {
    display: flex;
    gap: 0.3rem;
    align-items: top;
    cursor: pointer;
    h3 {
      font-size: 19px;
      font-weight: 500;
      color: $text-color-primary;
      font-family: 'Mulish', sans-serif;
      margin: 0;
    }
  }
}

.support-form {
  padding: 2rem;
  background-color: $background-card;
  border-radius: 0.5rem;
  button {
    margin-top: 1rem;
    border-radius: 20px;
  }
  .row-input {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    p {
      width: 100px;
      font-size: 14px;
      font-weight: 400;
      color: $text-color-primary;
      font-family: 'Mulish', sans-serif;
      margin: 0;
    }
    .input-title {
      width: 70%;
    }
    input {
      width: 100%;
      border: 1px solid $border-color;
      height: 44px;
      border-radius: 20px;
      padding: 0.3rem 1rem;
    }
    input:focus {
      border-color: $main-color;
      outline: none;
    }
    textarea {
      width: 70%;
      border: 1px solid $border-color;
      height: 84px;
      border-radius: 20px;
      padding: 0.5rem 1rem;
    }
    textarea:focus {
      border-color: $main-color;
      outline: none;
    }
    .upload-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $border-color;
      color: white;
      border-radius: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 1.5rem;
      text-align: center;
      line-height: 1;
    }

  }
  .row-comment {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    gap: 1rem;
    align-items: start;
    .container-avatar {
      width: 100px;
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;

      }
    }
    .content-comment {
      .name {
        display: flex;
        .full-name {
          font-weight: 600;
        }
      }
      .content {
        display: inline-flex;
        gap: 5px;
      }
      .view-detail {
        color: $main-color;
        cursor: pointer;
      }
      .detail-change {
        display: inline-flex;
        gap: 5px;
        .from {
          color: $secondary-color
        }
        .to {
          color: $main-color
        }
      }
    }
  }
  .container-input-comment {
    position: fixed;
    bottom: 0;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    .container-avatar {
      width: 100px;
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;

      }
    }
    .container-input {
      background-color: $border-color;
      padding: 0.5rem;
      border-radius: 20px;
      border: 1px solid $border-color;
      transition: border-color 0.3s ease;
      width: 70%;
      .input {
        display: inline-flex;
        width: 100%;
        text-align: center;
        textarea {
          width: 85%;
          border: none;
          height: 84px;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          background-color: transparent;
          scrollbar-color: $background-card #7d030300;
        }
        textarea:focus {
          border: none;
          outline: none;
        }
        .container-button {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 0.5rem;
          width: 15%;
          .upload-file-icon {
            font-size: 24px;
            cursor: pointer;
          }
          .send-icon {
            font-size: 24px;
            cursor: pointer;
          }
          button {
            border: none;
            margin: 0;
            color: $main-color;
            background-color: transparent;
          }
          button:disabled {
            color: rgb(93, 91, 91);
          }
        }
      }
      .attach-file-comment {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
    .container-input:focus-within {
      border-color: $main-color;
    }
  }
  .container-file-upload {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }
  .item-file {
    position: relative;
    max-width: 100px;
    img {
      text-align: center;
      width: 100%;
      max-width: 80px;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    button {
      position: absolute;
      top: -1px;
      right: 15px;
      margin: 0;
      border: none;
      padding: 2px 5px;
      border-radius: 50%;
      transition: transform 0.2s ease-in-out;
    }
    button:hover {
      background-color: $border-color;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .invalid-field {
    color: red;
    font-size: 10px;
    margin: 5px 0 0 5px;
  }

  .detail-ticket {
    display: grid;
    grid-template-columns: 8.5fr 1.5fr;
     .input-title {
        width: 100%;
      }
      textarea {
        width: 100%;
      }
      .container-file-uploaded {
        .list-files {
          height: 165px;
          overflow-y: scroll;
          scrollbar-color: $border-color #7d030300;
        }
      }
  }
  .detail-comment {
    scrollbar-color: $background-card #7d030300;
  }
  .cursor-pointer {
    cursor: pointer;
  }
}

.status-bg-New {
  color: $status-text-new;
  background-color: $status-bg-new;
  padding: 5px 8px;
  border-radius: 20px;
}
.status-bg-Assigned {
  color: $status-text-assign;
  background-color: $status-bg-assign;
  padding: 5px 8px;
  border-radius: 20px;
}